{
  "presets": [
    "@babel/env",
    "@babel/preset-react"
  ],
  "plugins":[
    "transform-class-properties",
    ["transform-es2015-template-literals"],
    "react-hot-loader/babel",
    "@babel/plugin-transform-regenerator",
    ["module-resolver", {
      "cwd": "babelrc",
      "root": ["./src"]
    }]
  ]
}